
html.light {
  --background: #ffffff;
  --tooltip-background: #f7f7fa;
  --tooltip-color: #3d3d4d;
  --foreground-rgb: 0, 0, 0;
  --foreground: #000000;
}

html.dark {
  --background: #11101f;
  --tooltip-background: #00050be6;
  --tooltip-color: #fff;
  --foreground-rgb: 255, 255, 255;
  --foreground: #ffffff;
}

body {
  color: rgb(var(--foreground-rgb)) !important;
  background-color: var(--background) !important;
  --tooltip-spacing: 5px;
  --tooltip-border-radius: 5px;
}

.nextra-nav-container > nav {
  background-color: var(--background) !important;
}

.nextra-nav-container {
  border-bottom: solid 1px hsla(203, 50%, 30%, 0.15) !important;
}

.nextra-nav-container-blur {
  display: none;
}

.docblock-code-toggle {
  background: black !important;
  color: white !important;
  border: none !important;
  border-radius: 0 !important;
}

.docblock-code-toggle ~ button {
  background: black !important;
  color: white !important;
  border: none !important;
  border-radius: 0 !important;
}

.nextra-toc > div > div {
  background: none !important;
  box-shadow: none !important;
  border-top: solid 1px hsla(203, 50%, 30%, 0.15) !important;
}

.nextra-sidebar-container > .nx-sticky {
  background: transparent !important;
  box-shadow: none !important;
}

.nextra-sidebar {
  font-family: var(--font-inter), 'sans-serif';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nextra-content p,
.nextra-content li,
.nextra-toc p {
  color: rgb(var(--foreground-rgb)) !important;
}

.nextra-toc ul,
.nextra-menu-desktop,
.nextra-menu-desktop ul {
  padding-left: auto !important;
  list-style: none !important;
}

.nextra-cards > a {
  @apply x:hover:bg-gray-100 x:dark:hover:bg-gray-700/20;
}

.nextra-code, .rb-code {
  color: #029cfd !important;
}

.rb-code-block {
  margin-top: 1px;
  background: transparent;
}

.rb-code-block code {
  display: block !important;
}

pre.highlighter code {
  display: block;
}

pre {
  background-color: hsl(var(--nextra-primary-hue)var(--nextra-primary-saturation)77%/.1);
  box-shadow: none;
  border-radius: .75rem;
}

.prismjs > div {
  /** Handle storybook code samples running off the page */
  white-space: pre-wrap !important;
}

input {
  --tw-ring-opacity: 0 !important;
  --tw-ring-offset-shadow: none !important;
}

svg {
  overflow: visible;
}


body {
  line-height: inherit;
}

/* Backdrop background for layouts component */
.backdrop-bg::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: var(--backdrop-url);
}